.transaction {
  margin-top: 1rem;
  margin-left: 15.5rem;
}
.transaction table {
  width: 81%;
  margin-top: 0.5rem;
}
.transaction table,
.transaction th,
.transaction td {
  border: 0.09rem solid rgb(159, 159, 159);
  border-collapse: collapse;
}
.transaction tr {
  text-align: left;
}
.transaction th {
  padding: 0.5rem;
}
.transaction td {
  padding: 0.5rem;
}
.title {
  background-color: rgb(40, 189, 205);
  color: rgb(255, 255, 255);
}

.number {
  width: 3.5%;
}
.hotel {
  width: 25%;
}
.date {
  width: 20%;
}
.price {
  width: 6.5%;
}
.payment {
  width: 15%;
}
.room {
  width: 8%;
}
.status {
  width: 10%;
}
.headerList {
  display: flex;
  gap: 40px;
  margin-bottom: 50px;
}
.header {
  padding-top: 1rem;
  background-color: #003580;
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
  margin-left: -23rem;
}

.headerListItem.active {
  border: 1px solid white;
  padding: 10px;
  border-radius: 20px;
}
